.__nav{    
    width: 50%;
    margin: 0 auto;
    text-align: center;
     
}

.category a{
    margin: 0px 10px;    
}



.blog-spot{
    border: solid;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    
    
}